#footer{
    margin-top: 30px;
    padding: 20px;
    color: white;
    background: #333;
}


.container{
    margin-top: 10px;
}
.jumbotron{
    margin-top: 10px;
}
ul.list-group{
    margin-bottom: 20px;
}